
{% load filter_tags %}
<!-- elasticsearch gene section -->
{% for es_gene in es_genes %}

<table class="table table-striped table-condensed">
	<tr><td>Gene </td><td>{{ es_gene|doc_attr:"symbol" }}</td></tr>
	<tr><td>Biotype </td><td>{{ es_gene|doc_attr:"biotype" }}</td></tr>

{% with dbxrefs=es_gene|doc_attr:"dbxrefs" %}
{% for db, acc in dbxrefs.items %}
	<tr><td>{{ db|capfirst }}</td><td>{{ acc }}</td></tr>
{% endfor %}
{% endwith %}

	<tr><td>Synonyms </td><td>
	
{% with synonyms=es_gene|doc_attr:"synonyms"  %}
{% for synonym in synonyms %}
	{{ synonym }}; 
{% endfor %}
{% endwith %}

	</td></tr>

	<tr><td>Location  </td><td>
{% with loc=es_gene|doc_attr:"chromosome" %}
	<a href="/search/{{ loc }}:{{ es_gene|doc_attr:"start" }}-{{ es_gene|doc_attr:"stop" }}">
	{{ loc }}:{{ es_gene|doc_attr:"start" }}-{{ es_gene|doc_attr:"stop" }}</a>
{% endwith %}
	</td></tr>
</table>

{% endfor %}
